<h1 class="hero-title text-center mt-2">Order History</h1>

<% if !@orders.empty? %>

<section class="container mt-4 d-flex justify-content-center">
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4">
        <% @orders.each do |order| %>
        <div class="col mb-4">
            <div class="card cards border-dark h-100">
                <% if order.listing.picture.attached? %>
                <%= image_tag order.listing.picture, class: "thumbnail card-img top", alt: order.listing.name %>
                <% else %>
                <%= image_tag "default_listing.jpg", class: "thumbnail card-img top", alt: "coffee cup" %>
                <% end %>
                <div class="card-body">
                    <h5><%= order.listing.name.titleize %></h5>
                    <p class="card-text text-secondary"><%= format_roast_type(order.listing.roast_type) %></p>
                    <div class="d-flex justify-content-between">
                        <%= link_to "See Listing", listing_path(order.listing_id), class: "btn btn-outline-dark" %>
                        <%= link_to "View Receipt", order.receipt_url %>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</section>

<% else %>

<p class="display-6 d-flex justify-content-center mt-5">You have no previous orders</p>

<% end %>